{% extends './base.html' %} {% load tailwind_filters %} {% block content %}

<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="mb-4 border-bottom">Log In</legend>
      {{ form | crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Sign in</button>
    </div>
  </form>
</div>

{% endblock content %}
