{% extends './base.html' %} {% block content %}

<h2>You have been logged out</h2>
<div class="pt-2 border-top">
  <small class="text-muted">
    <a href="{% url 'login' %}" class="ml-2">Log in again</a>
  </small>
</div>

{% endblock content %}
